    .mainbg {
        background-image: url("./img/Square-Versatiles.svg");
        background-position: center center;
        color: var(--white-color);
        height: 100%;
    }
    
    .whitebg {
        background: var(--white-color);
        color: var(--primary-color);
    }
    
    .main-content {
        max-width: 120rem;
        margin: 0 auto;
        padding: 10rem var(--gap);
    }
    
    .section {
        min-height: 100vh;
    }
    
    .intro-content {
        position: relative;
        /* top: -7rem; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
        min-height: 100vh;
    }
    
    .intro-text-content,
    .intro-img {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .intro-text-content h2 {
        font-size: 5rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        line-height: 1.2;
    }
    
    .intro-img img {
        max-width: 100%;
        min-height: auto;
    }
    
    .whitecontent {
        max-width: 64rem;
        display: flex;
        /* flex-flow: column wrap; */
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
    }
    
    .grid-one-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
        align-items: center;
    }
    
    .grid-mainh {
        margin-bottom: 1rem;
    }
    
    .grid-desc {
        padding-bottom: 5rem;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
        counter-reset: grid-counter;
        text-align: center;
    }
    
    .grid h3 {
        font-size: 3rem;
        position: relative;
        padding-left: 5rem;
        padding-bottom: 2rem;
    }
    
    .grid h3::before {
        font-size: 3rem;
        counter-increment: grid-counter;
        content: counter(grid-counter);
        position: absolute;
        font-size: 8rem;
        font-style: italic;
        top: -4rem;
        left: 28%;
        transform: rotate(5deg);
    }
    
    .gallery-img {
        width: 100%;
        max-width: 36rem;
        max-height: 36rem;
        overflow: hidden;
    }
    
    .gallery-img img {
        transition: all 300ms ease-in-out;
    }
    
    .gallery-img img:hover {
        transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
    }
    
    .grid-one {
        display: block;
        position: relative;
    }
    
    .responsive-table {
        overflow: hidden;
        overflow-x: auto;
    }
    
    .contact-form {
        grid-column: span 2;
    }
    
    .contact-form .form-grid {
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--gap);
    }
    
    .form-grid legend {
        font-style: italic;
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }
    
    .form-group {
        flex: 1 1 32rem;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 1rem;
    }
    
    .form-group input,
    .form-group textarea {
        border: 0.2rem solid black;
        background: var(--white-color);
        padding: 1.5rem 2rem;
        width: 100%;
        font-size: 3rem;
        outline: none;
    }
    
    .form-group input:focus,
    .form-group textarea:focus {
        box-shadow: 0 0 1rem 0.2rem var(--secondary-color);
    }
    
    body .full-width {
        width: 100%;
        flex: 1 1 100%;
    }
    
    .form-group button {
        border: 0.5rem solid var(--white-color);
        background: none;
        color: var(--white-color);
        padding: 1.5rem 2rem;
        font-size: 3rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
    
    .form-group button:hover {
        background: var(--white-color);
        color: var(--primary-color);
    }
    
    .form-group ::placeholder {
        color: var(--light-gray-color);
    }
    
    .footer {
        text-align: center;
    }
    
    .footer a {
        color: inherit;
    }
    
    .heart {
        color: var(--secondary-color);
    }
    
    .footer p {
        margin: 0;
        padding: 3rem;
    }
    
    .back-to-top {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background: var(--secondary-color);
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--white-color);
        transform: rotate(-90deg);
        border: 0.1rem solid var(--white-color);
    }